html {
  margin 0;
}

body {
  margin: 0;
  height: 100px;
  background: linear-gradient(to right, black, #1c1c1c, #2f2f2f, #2f2f2f, #1c1c1c, black);
}

.content {
  width: 960px;
  margin: 30px auto;
}

/*----HEADER-----*/

.content header {
  margin: 0;
  height: 150px;
  width: 100%;
  position: relative;
}

.content header img {
  position: absolute;
  display: block;
  height: 148px;
  width: 148px;
  left: 50%;
  margin-left: -74px;   /*Left and margin-left necessary for centering the logo*/
  border: 1px solid #887c4d;
  border-radius: 100%;
  /*-webkit-border-radius: 100%;*/  /*Makes the border go around the image*/
  z-index: 10;
}

.content header .navbar {
  position: absolute;
  box-sizing: border-box;   /*Makes the border go along the inside of the div*/
  width: 100%;
  height: 90px;
  top: 50%;
  margin-top: -45px;  /*Top and margin-top necessary for centering the navbar*/
  background-color: #070707;
  z-index: 9;
  border: 1px solid #887c4d;
}

.navbar .navbox {
  height: 100%;
  display: inline-block;
}

.content header .navbar .navbox:hover h2{
  color: #887c4d;
}

.navbar .navbox#home_div, .navbar .navbox#packages_div {
  float: left;
  padding: 0 8px;
}

.navbar .navbox#order_div, .navbar .navbox#about_div {
  float: right;
  padding: 0 25px;
}

.content header .navbar .navbox h2 {
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size: 2.8em;
  color: white;
  margin-top: 20px; /*Bad practice*/
  font-weight: 100;
}


.content header .navbar h2::first-letter {
  color: #887c4d; /*Sets first letter in each navbar-page to gold*/
}

/*------HOMEPAGE--------*/

main .homepage {
  margin-top: 20px;
}

main .homepage .definition_div {
  height: 300px;
  width: 100%;
  background-color: #070707;
  border: 1px solid #887c4d;
}

.homepage .definition_div .def_head {
  position: relative;
  height: 50%;
  width: 100%;
  text-align: center;
}

.definition_div .def_head .luxury_div {
  height: 100%;
  width: 50%;
  float: left;
}

.definition_div .def_head .phonetic_div {
  height: 100%;
  width: 50%;
  float: right;
}

.homepage .definition_div h1 {
  margin: 0;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-weight: 100;
  font-size: 4em;
}


.homepage .definition_div h1#luxury{
  margin-top: 40px;
  color: white;
}

.homepage .definition_div h1#luxury::first-letter, .homepage .definition_div h1#phonetic {
  margin-top: 40px;
  color: #887c4d;
}

.homepage .definition_div .def_foot {
  height: 50%;
  width: 100%;
  text-align: center;
}

.definition_div .def_foot p {
  margin: 0;
  color: white;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-weight: 100;
  font-size: 2em;
}

.definition_div .def_foot p::first-letter {
  color: #887c4d;
}



.homepage .jumbotron {
  margin-top: 20px;
  height: 400px;
  width: 100%;
  background-color: #070707;
  border: 1px solid #887c4d;
}

.homepage .jumbotron p {
  margin-top: 150px;
  text-align: center;
  color: white;
}


/*------FOOTER--------*/

.content footer {
  margin: 0;
  margin-top: 20px;
  height: 70px;
  width:100%;
  position: relative;
  background-color: #070707;
  border: 1px solid #887c4d;
}

footer h4, footer h3 {
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-weight: 100;
  margin: 0;
}

footer .developer_div {
  position: relative;
  margin: 17px 15px;
  float: left;
}

footer .faq_div {
  height: 100%;
  width: 110px;
  margin-right: 15px;
  text-align: center;
  position: relative;
  float: right;
}

footer .faq_div:hover h3 {
  color: white;
}

footer h4 {
  color: white;
  font-size: 1em;
}

footer h3 {
  line-height: 70px;
  color: #887c4d;
  font-size: 3em;
}

